@media (max-width: 991px) {

    #HighScoresDiv{
        margin-top: 20px;
    }

    #HighScoresTable{
        width: 280px;
        
        th{
            font-size: 15px;
        }
        td{
            font-size: 10px;
        }
    }

}