
.username{
    margin-top: 2rem;
    text-align: left;
    margin-left: 5rem;
}
.username input{
    width: 20rem;
    margin-left: 5rem;
    display:inline-block;
}
.password{
    padding-top: 3rem;
    text-align: left;
    margin-left: 5rem;
}
.password input{
    width: 20rem;
    margin-left: 85px;
    display:inline-block;
}
.error{
    text-align: left;
    margin-left: 360px;
    margin-top: 1.5rem;
}
.btnDiv{
    text-align: left;
    margin-left: 85px;
}
.btn{
    width: 330px;
    margin-top: 4rem;
    margin-left: 10rem;
}